.news-meta{
    margin: 10px;
    float: right;
}

.news-blocks{
    margin-top: 35px;
}

.news-block{
    margin-top: 15px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 10px;
}

.block-image-position{
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-image{
    width: 600px;
    border-radius: 10px;
}

.reaction-btn{
    float: right;
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.replies-block{
    margin-left: 30px;
    border-left: 2px solid #e0e0e0;
    padding-left: 15px;
}

.comments-section{
    margin-top: 25px;
}

.comment{
    display: grid;
    margin-bottom: 30px;
    width: 780px;
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 10px;
}

.comment-date{
    float: right;
}

.comment-author{
    grid-row: 1;
}

.comment-content{
    grid-row: 2;
    width: 600px;
}

.comment-date{
    grid-row: 1;
    margin-right: 5px;
    text-align: right;
}

.comment-reaction-btn{
    background: none;
    border: 1px solid darkgrey;
    border-radius: 10px;
    background-color: aqua;
    box-shadow: none;
    cursor: pointer;
}

/*.comment-meta{*/
/*    grid-row: 2;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    text-align: right;*/
/*    justify-content: end;*/
/*}*/

