.news-card {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    gap: 20px !important;
    border: 1px solid darkgrey;
    border-radius: 10px;
    margin: 10px
}

.news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /*margin-bottom: 20px;*/
}

.news-title{
    align-items: center;
    display: flex !important;
    flex-direction: row !important;
}

.news-image{
    flex: 0 0 400px !important;
    width: 400px;
    height: 250px;
}

.news-meta{
    margin-top: auto !important;
    margin-left: auto !important;
}