<!-- news/templates/news/comment.html -->
    <div class="comment-header">
        <span class="comment-author">{{ comment.user.username }}</span>
        <span class="comment-date">{{ comment.published_at|date:"d.m H:i" }}</span>
    </div>

    <!-- Содержимое комментария -->
    <div class="comment-content">
        {{ comment.content|linebreaks }}
    </div>

{#    <!-- Реакции для комментария -->#}
{#    <div class="comment-reactions">#}
{#        <form method="post" action="{% url 'news:comment_reaction_create' comment.id %}">#}
{#            {% csrf_token %}#}
{#            <input type="hidden" name="reaction_type" value="1">#}
{#            <button type="submit" class="comment-reaction-btn">#}
{#                👍 {{ comment.likes_count|default:"0" }}#}
{#            </button>#}
{#        </form>#}
{##}
{#        <form method="post" action="{% url 'news:comment_reaction_create' comment.id %}">#}
{#            {% csrf_token %}#}
{#            <input type="hidden" name="reaction_type" value="-1">#}
{#            <button type="submit" class="comment-reaction-btn">#}
{#                👎 {{ comment.dislikes_count|default:"0" }}#}
{#            </button>#}
{#        </form>#}
{#    </div>#}
</div>